@media all and (max-width: 1650px){

    .main_allMenu .right{
        padding: 160px 0 0 40px;
    }

    .am_list > .floor1 > li:nth-child(4n){
        padding: 0px;
        padding-right: 15px;
    }

    .am_right_inner{
        height: 540px;
        overflow: auto;
    }

    .am_list > .floor1 > li{
        width: calc(100% / 3);
        height: auto;
        margin-bottom: 60px;
    }

    .am_list > .floor1 > li:nth-last-child(-n+3){
        margin-bottom: 0px;
    }

    .am_list .floor2 > li:last-child{
        margin-bottom: 0px;
    }

    .main_introduce_bot_slide_control{
        width: 510px;
    }

    .main_introduce_bot_slide{
        width: calc(100% - 550px);
    }
}

@media all and (max-width: 1460px){

    #nav .floor1 > li{
        padding: 0 20px 20px 20px;
    }

    .pd_bot > ul > li .pdb_img{
        width: 500px;
    }

    .pdb_cont{
        width: calc(100% - 530px);
    }

    .pdb_cont_video_link ul li a{
        width: 135px;
    }

    .briefing_tit{
        width: 420px;
    }
    
    .briefing_list{
        width: calc(100% - 420px);
    }

    .briefing_list ul li .brfl_txt p{
        padding-right: 0px;
    }

    .footer_list .floor1 > li{
        margin-right: 25px;
    }
}

@media all and (max-width: 1200px){
    #nav .floor1 > li{
        padding: 0 14px 20px 14px;
    }
}

@media all and (max-width: 1040px){

    .container,
    .container.type2{
        padding: 0 20px;
    }

    section:not(#main){
        margin-top: 60px;
    }

    .header{
        height: 60px;
        align-content: center;
        justify-content: flex-end;
    }

    .header_top{
        margin-top: 0px;
    }

    .ht_link{
        display: flex;
        align-items: center;
    }

    .ht_link li:last-child{
        display: none;
    }

    .logo a img{
        height: 40px;
    }

    .hb_menu{
        margin-bottom: 0px;
    }

    .hb_menu .hb_search{
        margin-right: 13px;
    }

    .hb_menu .hbm{
        width: 26px;
        height: 24px;
    }

    #nav{
        display: none;
    }

    .header_top, .header_bot{
        width: auto;
    }

    .main{
        padding-top: 110px;
    }

    .main_txt_slide .swiper-slide a h2{
        width: 100%;
    }

    .main_slide_util{
        position: static;
        padding-top: 15px;
    }

    .sb_type1{
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    .main_slide_progress{
        max-width: calc(100% - 135px);
        width: 100%;
    }

    .main_img_slide .swiper-slide a{
        height: 410px;
    }

    .pd_top{
        padding: 15px 0;
    }

    .pd_top h2{
        font-size: 18px;
        margin-bottom: 8px;
    }

    .pd_top ul li h3{
        font-size: 32px;
        margin-bottom: 0px;
    }

    .pd_slide_cont{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .pd_slide{
        width: 300px;
        padding-left: 25px;
    }

    .pd_slide_box{
        padding: 5px 0;
    }

    .pd_slide .swiper-slide.swiper-slide-active a::before{
        width: 4px;
        height: 4px;
        top: 3px;
    }

    .pd_slide .swiper-slide a{
        height: 40px;
    }

    .pd_slide .swiper-slide a h2{
        font-size: 18px;
    }
    
    .pd_slide .swiper-slide.swiper-slide-active a h2{
        font-size: 21px;
    }

    .pd_slide .swiper-slide{
        width: 55px !important;
    }
    
    .pd_slide_button.next{
        left: calc(100% - 40px);
    }

    .pd_slide_button.prev{
        right: calc(100% - 40px);
    }

    .pd_bot > ul > li .pdb_img{
        width: 100%;
    }

    .pdb_cont{
        width: 100%;
        margin-top: 20px;
    }

    .pdb_cont h2{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .pdb_cont p{
        font-size: 16px;
        margin-bottom: 13px;
    }

    span.date{
        font-size: 16px;
    }

    .pdb_cont_video_link ul li a{
        width: 150px;
    }

    .mis_top{
        width: 100%;
        padding: 18px 0;
    }

    .mis_tit{
        max-width: calc(100% - 131px);
    }

    .mis_tit h2{
        width: 100%;
        font-size: 32px;
    }

    .main_info_slide_cont .swiper-slide.type1{
        width: 380px;
    }

    .main_info_slide_cont .swiper-slide.type2{
        width: 185px;
    }

    .main_info_slide_cont .swiper-slide.type3{
        width: 220px;
    }

    .main_allMenu{
        justify-content: flex-end;
        background: rgba(0, 0, 0, 0.7);
        margin-top: 60px;
        height: calc(100vh - 60px);
    }

    .am_utility{
        right: 20px;
        top: -41px;
        padding: 1px;
        background: var(--color1-);
    }


    .allMenu_close{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .allMenu_close button{
        filter: invert(1);
        background-size: cover;
        background-position: center;
    }

    .main_allMenu .left{
        display: none;
    }

    .main_allMenu .right{
        width: 400px;
        flex: none;
        background: #fff;
        padding: 0 !important;
    }

    .am_right_inner{
        height: auto;
        max-height: 100%;
        box-sizing: border-box;
        padding: 30px 40px;
        overflow: auto;
    }

    .am_utility ul{
        display: none;
    }

    .am_list{

    }

    .am_list > .floor1 > li{
        width: 100%;
        border: none;
        margin: 0;
        padding: 0 !important;
    }

    .am_list > .floor1 > li h3{
        margin-bottom: 0;
        font-weight: 600;
    }

    .am_list > .floor1 > li h3 a{
        padding: 13px 0 !important;
    }

    .am_list > .floor1 > li.active h3 a{
        color: var(--color3-);
    }

    .am_list > .floor1 > li h3 a{
        position: relative;
    }

    .am_list > .floor1 > li:last-child h3 a::before,
    .am_list > .floor1 > li:last-child h3 a::after{
        display: none;
    }

    .am_list > .floor1 > li h3 a::before,
    .am_list > .floor1 > li h3 a::after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 16px;
        height: 2px;
        background-color: #000;
    }

    .am_list > .floor1 > li h3 a::before{
        transform: translateX(-50%);
    }

    .am_list > .floor1 > li.active h3 a::before{
        background-color: var(--color3-);
    }

    .am_list > .floor1 > li h3 a::after{
        transform: translateX(-50%) rotate(90deg);
    }

    .am_list > .floor1 > li.active h3 a::after{
        display: none;
    }

    .am_list .floor2{
        display: none;
        margin: 20px 0;
    }

    .am_list .floor2 > li{
        margin-bottom: 18px;
    }

    .am_list .floor2 > li h4 a{
        font-size: 18px;
        color: #666;
        font-weight: 400;
    }

    .am_list .floor3{
        display: none;
    }

    .ss_tit h3{
        font-size: 20px;
    }

    .briefing{
        padding-top: 20px;
    }

    .briefing_tit{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .briefing_tit h2{
        font-size: 32px;
    }

    .briefing_tit p{
        font-size: 16px;
        margin: 10px 0 30px 0;
    }

    .briefing_list ul li{
        padding: 20px 0;
    }

    .br_mob_dn{
        display: none;
    }

    .briefing_list{
        width: 100%;
    }

    .brfl_txt{
        width: 100%;
    }

    .brfl_date{
        width: auto;
    }

    .brfl_date *{
        font-size: 15px;
    }

    .briefing_list ul li .brfl_txt h3{
        font-size: 22px;
    }

    .briefing_list ul li.top .brfl_txt h3{
        font-size: 32px;
        margin-bottom: 9px;
    }

    .briefing_list ul li.top .brfl_txt p{
        font-size: 16px;
    }

    .briefing_list ul li .brfl_txt h4{
        font-size: 17px;
        margin-top: 8px;
    }

    .fact_tit{
        padding: 22px 0;
    }

    .fact_tit h2{
        width: 500px;
    }

    .fact_subTit h3{
        font-size: 18px;
    }

    .fact_list ul li{
        width: 100%;
        padding: 0 0 30px 0 !important;
    }

    .fact_list ul li:not(:last-child){
        margin-bottom: 30px;
        border-bottom: 1px solid #d5d5d5;
        border-right: none;
    }

    .fact_list ul li a .fl_main_tit{
        width: 100%;
    }

    .main_introduce_top{
        margin-bottom: 120px;
    }

    .main_introduce_bot > div{
        width: 100%;
    }

    .main_introduce_bot_slide{
        order: 1;
        margin: 0 25px 30px 25px !important;
    }
    
    .main_introduce_bot_slide .swiper-slide a h2{
        font-size: 48px;
        margin-bottom: 20px;
    }

    .main_introduce_bot_slide .swiper-slide a p{
        font-size: 16px;
        letter-spacing: 0;
    }

    .main_introduce_bot_slide_control{
        order: 2;
        padding-right: 25px;
    }

    #footer .container

    .footer_list{
        width: 100%;
    }

    .footer_list .floor1{
        width: 100%;
    }

    .footer_list .floor1 > li{
        width: 100%;
        justify-content: space-between;
        margin-bottom: 19px;
        margin-right: 0px;
    }

    .footer_list .floor1 > li > a{
        position: relative;
        margin-bottom: 0px;
        font-weight: 400;
        line-height: 1.3;
    }

    .footer_list .floor1 > li:not(.normal_link) > a::before,
    .footer_list .floor1 > li:not(.normal_link) > a::after{
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 16px;
        height: 3px;
        background: var(--colorTxt1-);
        transform-origin: center;
    }

    .footer_list .floor1 > li:not(.normal_link) > a::before{
        transform: translateY(-50%);
    }

    .footer_list .floor1 > li:not(.normal_link) > a::after{
        transform: translateY(-50%) rotate(90deg);
    }

    .footer_list .floor1 > li:not(.normal_link).active > a::after{
        display: none;
    }

    .footer_list .floor2{
        margin-top: 20px;
        display: none;
    }

    .go_up{
        right: 20px;
    }
}

@media all and (max-width: 768px){

    .main{
        padding-top: 90px;
    }
    
    .main_txt_slide .swiper-slide a h2{
        font-size: 33px;
        height: 80px;
    }

    .main_slide_util{
        margin-top: 25px;
    }

    /* .aos-animate {
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
    
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    } */

    .main_info_slide .swiper-slide:nth-child(n+6){
        display: none;
    }

    .main_info_slide.mob_view .swiper-slide:nth-child(n+6){
        display: block;
    }

    .mis_tit{
        width: 100%;
        max-width: 100%;
    }

    .main_info_slide .main_slide_control{
        display: none;
    }

    .mis_top{
        padding: 25px 0 55px 0;
    }

    .mif_more{
        display: block;
        width: 100%;
    }

    .mif_more button{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        font-size: 15px;
        box-sizing: border-box;
        border: 1px solid #d5d5d5;
        letter-spacing: -0.4px;
        color: #222;
    }

    .mif_more button span{
        display: inline-block;
        margin-left: 4px;
        width: 15px;
        height: 15px;
        background: url('../img/ico_btnMore.svg') center center no-repeat;
        transform: rotate(-90deg);

    }

    .pdb_cont_tit{
        margin-bottom: 25px;
    }

    .pdb_cont_video_link ul{
        gap: 20px 0;
        justify-content: center;
    }

    .pdb_cont_video_link ul li{
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 0;
    }

    .pdb_cont_video_link ul li a{
        width: 240px;
        max-width: 240px;
    }

    .main_info_slide_cont .swiper-wrapper{
        flex-wrap: wrap;
    }

    .main_info_slide_cont .swiper-slide{
        width: 100% !important;
        margin-bottom: 25px;
    }

    .ss_tit{
        margin: 15px 0 6px 0;
    }

    #briefing,
    #factCheck{
        position: relative;
        padding-bottom: 80px;
    }

    .briefing_tit .view_more_link{
        top: calc(100% + 20px);
        opacity: 0;
        visibility: hidden;
    }
    
    .briefing_tit.aos-animate .view_more_link{
        transition-delay: 1s;
        opacity: 1;
        visibility: visible;
    }

    .view_more_link{
        position: absolute;
        right: 0;
        transform: translateY(0) !important;
    }

    .view_more_link a{
        width: 40px;
        height: 40px;
        background-size: 15px;
    }

    .fact_tit{
        position: static;
    }

    .fact_tit h2{
        width: 315px;
    }

    .fact_subTit{
        padding: 12px 0;
    }
    
    .fact_subTit h3{
        font-size: 15px;
        word-break: keep-all;
        line-height: 1.35;
    }

    .fact_list ul li a h4{
        font-size: 16px;
    }

    .fact_list ul li a .fl_main_tit{
        margin: 6px 0 8px 0;
    }

    .fact_list ul li a .fl_main_tit h3{
        font-size: 20px;
    }

    .fact_list ul li a .date{
        font-size: 15px;
    }

    .fact_list ul li:last-child{
        border-bottom: 1px solid #d5d5d5;
    }

    .main_introduce_bot_slide .swiper-slide a h2{
        font-size: 32px;
        margin-bottom: 10px;
    }

    .main_introduce_bot_slide .swiper-slide a p br{
        display: none;
    }
}

@media all and (min-width: 768px){

    br.pc_hide{
        display: none;
    }

}

@media all and (max-width: 568px){
    .pdb_cont_video_link ul li{
        width: 100%;
    }

    .mis_tit{
        line-height: 1.4;
    }
}