
body{
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden;
}

.fixed{
    overflow: hidden;
}

#wrap{
    width: 100%;
}

.container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}

.slide_container{
    overflow: hidden;
}

:root{
    --color1-: #011131;
    --color2-: #00205c;
    --color3-: #AF8E65;
    --color4-: #9098aa;
    --colorTxt1-: #222;
    --colorTxt2-: #777;
}

/* header */

#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--color1-);
    z-index: 100;
}

.header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    padding: 0 20px;
}

.logo{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logo a{
    display: inline-block;
}

.logo a img{
    height: 65px;
}

.header_top,
.header_bot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header_top{
    margin-top: 13px;
}

.ht_link ul{
    display: flex;
    flex-wrap: wrap;
}

.ht_link ul li{
    padding: 0 8px;
}

.ht_link ul li a{
    color: var(--color4-);
    font-size: 15px;
    font-weight: 500;
}

.header_bot{
    display: flex;
    flex-wrap: wrap;
}

#nav{
    display: flex;
    flex-wrap: wrap;
}

#nav .floor1{
    display: flex;
    flex-wrap: wrap;
}

#nav .floor1 > li{
    padding: 0 30px 20px 30px;
}

#nav .floor1 > li > a{
    color: #fff;
    font-size: 21px;
    font-weight: 600;
}

#nav .floor2{
    position: absolute;
    z-index: -1;
    top: 100%;
    width: calc(20% - 2vw);
    height: 390px;
    box-sizing: border-box;
    padding: 5px 0 0 20px;
    margin-top: 35px;
    display: none;
    border-right: 1px solid #ddd;
}

#nav.active .floor2{
}

#nav .floor1 > li:nth-child(1) > .floor2{
    left: 5vw;
}

#nav .floor1 > li:nth-child(2) > .floor2{
    left: calc((20% - 2vw) + 5vw);
}

#nav .floor1 > li:nth-child(3) > .floor2{
    left: calc((40% - 4vw) + 5vw);
}

#nav .floor1 > li:nth-child(4) > .floor2{
    left: calc((60% - 6vw) + 5vw);
}

#nav .floor1 > li:nth-child(5) > .floor2{
    left: calc((80% - 8vw) + 5vw);
    border-right: 0px;
}


#nav .floor2 h2{
    font-size: 20px;
    margin-bottom: 35px;
    letter-spacing: -0.4px;
}

#nav .floor2 > li{
    width: 100%;
    margin-bottom: 16px;
}

#nav .floor2 > li a{
    position: relative;
    font-size: 18px;
    color: #666;
    font-weight: 500;
    letter-spacing: -0.4px;
    display: inline-block;
    padding-bottom: 4px;
    box-sizing: border-box;
}

#nav .floor2 > li a:hover{
    color: var(--color3-);
}

#nav .floor2 > li a::after{
    display: none;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color3-);
}

#nav .floor2 > li a:hover::after{
    display: block;
}

.megamenu_bg{
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 460px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    z-index: -2;
}

.hb_menu{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hb_menu .hbm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.hb_menu .hb_search{
    margin-right: 25px;
}

.hb_menu .hb_search .hbm{
    background: url('../img/ico_topSearch.svg');
}

.hb_menu .hb_allMenu .hbm{
    background: url('../img/ico_siteMap.svg');
}

.main_allMenu{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 9999;
}

.main_allMenu.active{
    display: flex;
}

.am_utility{
    position: absolute;
    right: 50px;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    align-items: center;
}

.am_utility ul{
    display: flex;
    flex-wrap: wrap;

}

.am_utility ul li{
    padding: 0 13px;
}

.am_utility ul li a{
    color: var(--colorTxt1-);
    font-weight: 300;
}

.allMenu_close{
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.allMenu_close button{
    width: 20px;
    height: 20px;
    background: url('../img/sitemap_close.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.main_allMenu .left{
    width: 350px;
    height: 100%;
    background-color: var(--color1-);
    box-sizing: border-box;
    padding: 25px 40px 55px 40px;
    align-content: space-between;
}

.am_left_logo{
    margin-bottom: 100px;
}

.am_left_logo img{
    height: 55px;
}

.am_left_slogan{
    text-align: center;
}

.am_left_slogan img{
    display: inline-block;
}

.main_allMenu .right{
    position: relative;
    flex: 1;
    box-sizing: border-box;
    padding: 160px 0 0 60px;
}

.am_right_inner{
    width: 100%;
}

.am_list{
    width: 100%;
}

.am_list > .floor1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.am_list > .floor1 *{
    color: var(--colorTxt1-);
}

.am_list > .floor1 > li{
    width: calc(100% / 6);
    height: 600px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.am_list > .floor1 > li:first-of-type{
    padding-right: 15px;
}

.am_list > .floor1 > li:not(:first-child){
    padding: 0 25px;
}

.am_list > .floor1 > li:last-child{
    border-right: 0px;
    padding: 0 15px 0 25px;
}

.am_list > .floor1 > li h3{
    color: var(--colorTxt1-);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.4;
}

.am_list .floor2{
    width: 100%;
}

.am_list .floor2 > li{
    width: 100%;
    margin-bottom: 30px;
}

.am_list .floor2 > li h4 a{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.am_list .floor3{
    width: 100%;
    margin-top: 20px;
}

.am_list .floor3 > li{
    padding: 8px 0;
}

.am_list .floor3 > li:hover a{
    color: var(--color3-);
}

section:not(.main){
    margin-top: 90px;
}

section .container > div{
    width: 100%;
}

/* main */

.main{
    padding-top: 50px;
}

.main > div{
    width: 100%;
}

.main_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    margin-bottom: 40px;
}

.main_txt_slide{
    width: 100%;
}

.main_txt_slide .swiper-slide a{
    display: block;
    padding: 10px 0;
}

.main_txt_slide .swiper-slide a h2{
    font-size: 48px;
    height: 110px;
    font-weight: 700;
    color: #222;
    line-height: 1.2;
    width: 60%;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.main_img_slide{
    width: 100%;
    border-radius: 35px 35px 0 0;
    overflow: hidden;
}

.main_img_slide .swiper-slide a{
    display: block;
    width: 100%;
    height: 700px;
}

.main_img_slide .swiper-slide a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

