
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden;
}

.fixed{
    overflow: hidden;
}

#wrap{
    width: 100%;
    position: relative;
}

.container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}

.slide_container{
    overflow: hidden;
}

.container.type2{
    padding: 0 0 0 40px;
}

:root{
    --color1-: #011131;
    --color2-: #00205c;
    --color3-: #AF8E65;
    --color4-: #9098aa;
    --colorTxt1-: #222;
    --colorTxt2-: #777;
}

/* tab_to_move */

.tab_to_move{

}

.tab_to_move a{
    position: absolute;
    left: 0;
    top: -200px;
    display: block;
    width: 100%;
    background: #333;
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    z-index: 9999;
}

.tab_to_move a:active,
.tab_to_move a:focus{
    top: 0px;
    outline: 1px solid #000;
    border: 1px solid #fff;
}


/* header */

#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--color1-);
    z-index: 100;
}

.header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    padding: 0 20px;
}

.logo{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logo a{
    display: inline-block;
}

.logo a img{
    height: 65px;
}

.header_top,
.header_bot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header_top{
    margin-top: 13px;
}

.ht_link ul{
    display: flex;
    flex-wrap: wrap;
}

.ht_link ul li{
    padding: 0 8px;
}

.ht_link ul li a{
    color: var(--color4-);
    font-size: 15px;
    font-weight: 500;
}

.header_bot{
    display: flex;
    flex-wrap: wrap;
}

#nav{
    display: flex;
    flex-wrap: wrap;
}

#nav .floor1{
    display: flex;
    flex-wrap: wrap;
}

#nav .floor1 > li{
    padding: 0 30px 20px 30px;
}

#nav .floor1 > li > a{
    color: #fff;
    font-size: 21px;
    font-weight: 600;
}

#nav .floor2{
    position: absolute;
    z-index: -1;
    top: 100%;
    width: calc(20% - 2vw);
    height: 390px;
    box-sizing: border-box;
    padding: 5px 0 0 20px;
    margin-top: 35px;
    display: none;
    border-right: 1px solid #ddd;
}

#nav .floor1 > li:nth-child(1) > .floor2{
    left: 5vw;
}

#nav .floor1 > li:nth-child(2) > .floor2{
    left: calc((20% - 2vw) + 5vw);
}

#nav .floor1 > li:nth-child(3) > .floor2{
    left: calc((40% - 4vw) + 5vw);
}

#nav .floor1 > li:nth-child(4) > .floor2{
    left: calc((60% - 6vw) + 5vw);
}

#nav .floor1 > li:nth-child(5) > .floor2{
    left: calc((80% - 8vw) + 5vw);
    border-right: 0px;
}


#nav .floor2 h2{
    font-size: 20px;
    margin-bottom: 35px;
    letter-spacing: -0.4px;
}

#nav .floor2 > li{
    width: 100%;
    margin-bottom: 16px;
}

#nav .floor2 > li a{
    position: relative;
    font-size: 18px;
    color: #666;
    font-weight: 500;
    letter-spacing: -0.4px;
    display: inline-block;
    padding-bottom: 4px;
    box-sizing: border-box;
}

#nav .floor2 > li a:hover{
    color: var(--color3-);
}

#nav .floor2 > li a::after{
    display: none;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color3-);
}

#nav .floor2 > li a:hover::after{
    display: block;
}

.megamenu_bg{
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 460px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    z-index: -2;
}

.hb_menu{
    position: relative;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hb_menu .hbm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.hb_menu .hb_search{
    margin-right: 25px;
}

.hb_menu .hb_search .hbm{
    background: url('../img/ico_topSearch.svg');
}

.hb_menu .hb_allMenu .hbm{
    background: url('../img/ico_siteMap.svg');
}

.main_allMenu{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 9999;
}

.main_allMenu.active{
    display: flex;
}

.am_utility{
    position: absolute;
    right: 50px;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    align-items: center;
}

.am_utility ul{
    display: flex;
    flex-wrap: wrap;
}

.am_utility ul li{
    padding: 0 13px;
}

.am_utility ul li a{
    color: var(--colorTxt1-);
    font-weight: 300;
}

.allMenu_close{
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.allMenu_close button{
    width: 20px;
    height: 20px;
    background: url('../img/sitemap_close.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.main_allMenu .left{
    width: 350px;
    height: 100%;
    background-color: var(--color1-);
    box-sizing: border-box;
    padding: 25px 40px 55px 40px;
    align-content: space-between;
}

.am_left_logo{
    margin-bottom: 100px;
}

.am_left_logo img{
    height: 55px;
}

.am_left_slogan{
    text-align: center;
}

.am_left_slogan img{
    display: inline-block;
}

.main_allMenu .right{
    position: relative;
    flex: 1;
    box-sizing: border-box;
    padding: 160px 0 0 60px;
}

.am_right_inner{
    width: 100%;
}

.am_list{
    width: 100%;
}

.am_list > .floor1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.am_list > .floor1 *{
    color: var(--colorTxt1-);
}

.am_list > .floor1 > li{
    width: calc(100% / 6);
    height: 600px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.am_list > .floor1 > li:first-of-type{
    padding-right: 15px;
}

.am_list > .floor1 > li:not(:first-child){
    padding: 0 25px;
}

.am_list > .floor1 > li:last-child{
    border-right: 0px;
    padding: 0 15px 0 25px;
}

.am_list > .floor1 > li h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.4;
}

.am_list > .floor1 > li h3 a{
    display: block;
    color: var(--colorTxt1-);
}

.am_list .floor2{
    width: 100%;
}

.am_list .floor2 > li{
    width: 100%;
    margin-bottom: 30px;
}

.am_list .floor2 > li h4 a{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.am_list .floor3{
    width: 100%;
    margin-top: 20px;
}

.am_list .floor3 > li{
    padding: 8px 0;
}

.am_list .floor3 > li:hover a{
    color: var(--color3-);
}

section:not(#main){
    margin-top: 80px;
}

section .container > div{
    width: 100%;
}

/* main */

.main{
    padding-top: 140px;
}

.main > div{
    width: 100%;
}

.main_top{
    position: relative; 
    margin-bottom: 40px;
}

.main_txt_slide{
    width: 100%;
}

.main_txt_slide .swiper-slide a{
    display: block;
    padding: 10px 0;
}

.main_txt_slide .swiper-slide a h2{
    font-size: 48px;
    height: 110px;
    font-weight: 700;
    color: #222;
    line-height: 1.2;
    width: calc(100% - 610px);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.main_slide_util{
    position: absolute;
    right: 0;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main_slide_progress{
    position: relative;
    width: 370px;
    height: 4px;
}

.main_slide_progress .swiper-pagination-progressbar{
    height: 1px !important;
    background: #000 !important;
}

.main_slide_progress .swiper-pagination-progressbar-fill{
    top: -3px !important;
    height: 4px !important;
    background-color: var(--color3-) !important;
}

.main_slide_control{
    width: auto;
    margin-left: 30px;
}

.sb_type1{
    position: relative;
    z-index: 2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #000;
    transition: all .3s ease;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url(../img/cirBtn_arrR.svg);
}

.sb_type1:hover{
    background-image: url(../img/cirBtn_arrR_hover.svg);
}

.sb_type1:hover{
    border-color: var(--color3-);
}

.sbp{
    margin-right: 15px;
    transform: rotate(-180deg);
}

.main_img_slide{
    width: 100%;
    border-radius: 35px 35px 0 0;
    overflow: hidden;
}

.main_img_slide .swiper-slide a{
    display: block;
    width: 100%;
    height: 700px;
}

.main_img_slide .swiper-slide a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* public_debate */

.public_debate{
    width: 100%;
}

.ani_pseudo{
    position: relative;
}

.ani_pseudo.tp::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
    transition: all 1.5s ease;
    background: #222;
}

.view .ani_pseudo.tp::before{
    width: 100%;
}

.ani_pseudo.bt::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition: all 1.5s ease;
    background: #222;
}

.view .ani_pseudo.bt::after{
    width: 100%;
}

.pd_top{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.pd_top h2{
    font-size: 28px;
    margin-bottom: 22px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--colorTxt1-);
}

.pd_top ul li{
    display: none;
}

.pd_top ul li.active{
    display: block;
}

.pd_top ul li h3{
    font-size: 64px;
    font-weight: 700;
    color: var(--color2-);
    line-height: 1.2;
    word-break: keep-all;
    margin-bottom: 10px;
}

.pd_slide_box{
    width: 100%;
    padding: 9px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pd_slide_cont{
    position: relative;
}

.pd_slide_button{
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    background: url('../img/ico_mb_btn_right2.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.pd_slide_button.prev{
    transform: rotate(-180deg);
    right: 100%;
}

.pd_slide_button.next{
    left: 100%;
}

.pd_slide{
    width: 375px;
}

.pd_slide .swiper-wrapper{
    margin-left: -150px;
}

.pd_slide .swiper-slide{
    width: 75px !important;
}

.pd_slide .swiper-slide a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.pd_slide .swiper-slide.swiper-slide-active a::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--color3-);
}

.pd_slide .swiper-slide a h2{
    font-size: 24px;
    color: var(--colorTxt2-);
    font-weight: 500;
    letter-spacing: -0.5px;
}

.pd_slide .swiper-slide.swiper-slide-active a h2{
    color: var(--colorTxt1-);
    font-weight: 700;
    font-size: 28px;
}

.pd_bot{
    width: 100%;
    padding-top: 35px;
    border-top: 3px solid #000;
}

.pd_bot > ul > li{
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pd_bot > ul > li.active{
    display: flex;
}

.pd_bot > ul > li .pdb_img{
    width: 675px;
    border-radius: 10px;
    overflow: hidden;
}

.pd_bot > ul > li .pdb_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pdb_cont{
    width: calc(100% - 735px);
}

.pdb_cont .top{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #d5d5d5;
}

.pdb_cont_tit a{
    display: block;
}

.pdb_cont h2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--colorTxt1-);
    margin-bottom: 23px;
}

.pdb_cont p{
    font-size: 18px;
    color: var(--colorTxt1-);
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: 400;
    margin-bottom: 25px;
}

span.date{
    font-size: 18px;
    font-weight: 400;
    color: var(--colorTxt2-);
}

.pdb_cont_video_link{
    width: 100%;
}

.pdb_cont_video_link ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
}

.pdb_cont_video_link ul li{
    margin-right: 8px;
}

.pdb_cont_video_link ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background: var(--color2-);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.pdb_cont_video_link ul li a img{
    margin-left: 10px;
    user-select: none;
    pointer-events: none;
}

/* main_info_slide */


.mis_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
    width: calc(100% - 40px);
}

.mis_tit h2{
    font-size: 36px;
    font-weight: 700;
    color: var(--colorTxt1-);
    width: 600px;
}

.main_info_slide_cont .swiper-slide.type1{
    width: 600px;
}

.main_info_slide_cont .swiper-slide.type2{
    width: 285px;
}

.main_info_slide_cont .swiper-slide.type3{
    width: 400px;
}

.main_info_slide_cont .swiper-slide .ss_img{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.main_info_slide_cont .swiper-slide .ss_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mif_more{
    display: none;
}

.mif_more.active{
    display: none;
}

.ss_tit{
    width: 100%;
    margin: 10px 0 6px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ss_tit h3{
    font-size: 24px;
    line-height: 1.2;
    color: var(--colorTxt1-);
    font-weight: 600;
    display: inline;
}

.cate{
    color: var(--colorTxt2-);
}

.border_bottom_txt{
    background-image: linear-gradient(var(--colorTxt1-), var(--colorTxt1-));
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
}

.border_bottom_ani:hover .border_bottom_txt{
    background-size: 100% 1px;
}

/* briefing */

.briefing{
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.briefing_tit{
    width: 620px;
    color: var(--colorTxt1-);
}

.briefing_tit h2{
    font-size: 72px;
    font-weight: 700;
}

.briefing_tit p{
    line-height: 1.5;
    margin: 25px 0 35px 0;
    font-size: 18px;
    font-weight: 500;
}

.view_more_link a{
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: url('../img/btn_moreView.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color3-);
}

.briefing_list{
    width: calc(100% - 620px);
}

.briefing_list ul li{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #d5d5d5;
}

.briefing_list ul li:first-child{
    padding-top: 0px;
}

.brfl_txt{
    width: calc(100% - 180px);
}

.brfl_txt *{
    color: var(--colorTxt1-);
}

.briefing_list ul li .brfl_txt h3{
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
    font-size: 28px;
    display: inline-block;
    max-width: 100%;
}

.briefing_list ul li.top .brfl_txt h3{
    font-size: 48px;
    letter-spacing: -0.6px;
    max-width: calc(100% - 80px);
    margin-bottom: 20px;
}

.briefing_list ul li .brfl_txt p{
    box-sizing: border-box;
    padding-right: 200px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}

.briefing_list ul li.top .brfl_txt p{
    font-size: 18px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.briefing_list ul li .brfl_txt h4{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 12px;
    margin-top: 14px;
}

.briefing_list ul li .brfl_txt h4::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 13px;
    background-color: var(--color3-);
}

.briefing_list ul li .brfl_txt a{
    display: block;
    padding-bottom: 10px;
}

.brfl_date{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.brfl_date a{
    height: max-content;
    text-align: right;
}

.brfl_date a span{
    color: var(--colorTxt2-);
    display: inline-block;
}

.brfl_date a span:last-child{
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #c8c8c8;
}

.fact_tit{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}

.fact_tit .view_more_link{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.fact_subTit{
    text-align: center;
    padding: 17px 0;
    border-bottom: 3px solid #222;
    margin-bottom: 27px;
}


.fact_subTit h3{
    font-size: 20px;
    color: var(--colorTxt1-);
}

.fact_list{
    width: 100%;
}

.fact_list ul{
    display: flex;
    flex-wrap: wrap;
}

.fact_list ul li{
    width: 25%;
    box-sizing: border-box;
    border-right: 1px solid #d5d5d5;
    padding: 0 30px;
}

.fact_list ul li:first-child{
    padding: 0 30px 0 0;
}

.fact_list ul li:last-child{
    padding: 0 0 0 30px;
    border-right: 0px;
}

.fact_list ul li a{
    display: flex;
    flex-wrap: wrap;
    color: var(--colorTxt1-);
}

.fact_list ul li a h4{
    font-size: 22px;
    font-weight: 500;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fact_list ul li a .fl_main_tit{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 15px 0 20px 0;
}

.fact_list ul li a .fl_main_tit h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    display: inline;
}

.fact_list ul li a .date{
    font-size: 16px;
}

/* main_introduce */

.main_introduce_top{
    margin-bottom: 150px;
}

.main_introduce_top .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_introduce_bot{
    display: flex;
    flex-wrap: wrap;
}

.main_introduce_bot_slide_control{
    width: 810px;
    box-sizing: border-box;
    padding-right: 50px;
}

.main_introduce_bot_slide_control .main_slide_control{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: max-content;
    margin: 0;
}

.main_introduce_bot_slide_control .main_slide_control .msc_line{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 150px);
}

.main_introduce_bot_slide{
    width: calc(100% - 850px);
    margin-right: 40px;
}

.main_introduce_bot_slide .swiper-slide a{
    color: var(--colorTxt1-);
}

.main_introduce_bot_slide .swiper-slide a h2{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1.16;
}

.main_introduce_bot_slide .swiper-slide a p{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.5px;
}

/* footer */

#footer{
    margin-top: 140px;
    padding: 50px 0;
    border-top: 1px solid #222;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_list .floor1{
    display: flex;
    flex-wrap: wrap;
}

.footer_list .floor1 > li{
    margin-right: 80px;
}

.footer_list .floor1 > li:last-child{
    margin-right: 0px;
}

.footer_list .floor1 > li > a{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
    color: var(--colorTxt1-);
    margin-bottom: 25px;
}

.footer_list .floor2 > li{
    margin-bottom: 13px;
}

.footer_list .floor2 > li > a{
    color: #555;
}

.footer_address address{
    color: var(--colorTxt1-);
    font-size: 14px;
    line-height: 1.5;
}

.go_up{
    position: fixed;
    z-index: 2;
    right: 50px;
    bottom: 30px;
    transform: rotate(90deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s ease;
}

.go_up.active{
    opacity: 1;
    visibility: visible;
    transition: opacity .7s ease;
}

.go_up.pos_abs{
    position: absolute;
}

.go_up a{
    display: block;
}
